@page
@model Frontend.Pages.IndexModel
@{
    ViewData["Title"] = "Products";
}

<div class="container py-4">

    
    <div>
        <h1 class="text-center mb-4">Product List</h1>
        <p class="text-center">Total Products: @Model.Products!.TotalItems</p>
    </div>
    
    <div class="row w-100 mb-4">
        <div class="col-md-9">
            <form method="get" class="d-flex justify-content-center">
                <input
                    type="text"
                    name="Query"
                    value="@Model.Query"
                    placeholder="Search products..."
                    class="form-control rounded-start"/>
                <input type="hidden" name="PageNumber" value="@Model.PageNumber"/>
                <input type="hidden" name="PageSize" value="@Model.PageSize"/>
                <button type="submit" class="btn  rounded-end ms-1">Search</button>
            </form>
        </div>
        <div class="col-md-3">
            <button class="btn border w-100 text-primary"><i class="fas fa-plus-circle"></i> Add Product</button>
        </div>

    </div>
    

    
    <partial name="PartialView/_productListPartial" model="Model.Products"/>


    <div class="mt-8 flex justify-center space-x-4">
        <ul class="pagination justify-content-center">
            
            <li class="page-item @(Model.PageNumber <= 1 ? "disabled" : "")">
                <a class="page-link"
                   asp-page="./Index"
                   asp-route-pageNumber="@(Model.PageNumber - 1)"
                   asp-route-pageSize="@Model.PageSize"
                   asp-route-query="@Model.Query">
                    Previous
                </a>
            </li>

            @for (int i = 1; i <= Model.Products!.TotalPages; i++)
            {
                <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                    <a class="page-link"
                       asp-page="./Index"
                       asp-route-pageNumber="@i"
                       asp-route-pageSize="@Model.PageSize"
                       asp-route-query="@Model.Query">
                        @i
                    </a>
                </li>
            }

            <li class="page-item @(Model.PageNumber >= Model.Products.TotalPages ? "disabled" : "")">
                <a class="page-link"
                   asp-page="./Index"
                   asp-route-pageNumber="@(Model.PageNumber + 1)"
                   asp-route-pageSize="@Model.PageSize"
                   asp-route-query="@Model.Query">
                    Next
                </a>
            </li>
            
        </ul>
    </div>



</div>
